header{
  background-color: #276E90;
  display: flex;
  justify-content: center;
  
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.headerContainer{
  display: flex;
}

header a {
  text-decoration: none;
  color: #EFEFEF;
}
body{
  background-color: #EFEFEF;
}

.mainContainer{
  max-width: 1200px;
  margin: 50px auto;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(2, 380px);
  gap: 50px;
}

article{
  width: 400px;
  height: 245px;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  background-color: #CECFC9;
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-weight: 700; */
  box-shadow: -4px 19px 15px -3px rgba(0,0,0,0.1);
  border-radius: 5px;
}
.imageCard{
  width: 100%;
  height: 80%;
  /* padding-bottom: 15px; */
  object-fit: contain;
}

.imageCard:last-child{
  width: 90%;
}


@media (max-width: 900px) {
  .mainContainer { grid-template-columns: repeat(1, 1fr); }
}

article a {
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
}

article a:hover, article a:visited,article a:active,a:link {
  color: #0A3143;
}

.logoHome {padding-top: 2px;} 